{% extends 'base.html' %}
{% block content %}
{% include 'components/nav_menu.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="mb-3 mt-5">Criar conta</h3>
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
                    <input class="form-control" id="{{ form.username.id_for_label }}" type="text"
                        placeholder="Nome de usuário" name="{{ form.username.html_name }}" {% if form.username.value %}
                        value="{{ form.username.value }}" {% endif %}>

                    {% if form.username.errors %}
                    <div class="text-danger font-italic form-message">{{ form.username.errors.as_text }}</div>
                    {% else %}
                    <div class="font-italic form-message">{{ form.username.help_text }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">
                        {{ form.password1.label_tag }}
                    </label>
                    <input class="form-control" id="{{ form.password1.id_for_label }}" type="password"
                        placeholder="Senha" name="{{ form.password1.html_name }}">

                    {% if form.password1.errors %}
                    <div class="text-danger font-italic form-message">{{ form.password1.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">
                        {{ form.password2.label_tag }}
                    </label>
                    <input class="form-control" id="{{ form.password2.id_for_label }}" type="password"
                        placeholder="Confirme a senha" name="{{ form.password2.html_name }}">
                    {% if form.password2.errors %}
                    <div class="text-danger font-italic form-message">{{ form.password2.errors.as_text }}</div>
                    {% else %}
                    <div class="form-message">{{ form.password1.help_text }}</div>
                    <div class="form-message">{{ form.password2.help_text }}</div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{% url 'login' %}">Já tem uma conta?</a>
                    <button class="btn btn-primary salvar-btn" type="submit">
                        Criar conta
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .form-message {
        font-size: 12px;
    }

    .salvar-btn.btn-primary {
        background-color: #1b80eb;
        border-color: #1b80eb;
    }

    .salvar-btn.btn-primary:hover {
        background-color: #11559e;
        border-color: #11559e;
    }
</style>

{% endblock %}
