{% load static %}

<section class="testimonial_1 bg-light pt-80 pb-80">
	<div class="container px-xl-0">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<div class="hr bg-gray h-2"></div>
			</div>
		</div>
		<div class="row pt-30 pb-50 inner" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
			<div class="col-xl-2 col-lg-1"></div>
			<div class="col-md-1 col-sm-2">
				<i class="fas fa-quote-left f-36 color-gray"></i>
			</div>
			<div class="col-xl-7 col-lg-8 col-sm-10">
				<div class="pt-10 f-22 text-adaptive">
					The most important part of the Startup Framework is the 
					samples. The samples form a set of 25 usable pages you can 
					use as is or you can add new blocks from UI Kit. 
				</div>
				<div class="mt-20 d-flex align-items-center author_info">
					<img srcset="{% static 'i/testimonial_1_img@2x.jpg' %} 2x" src="{% static 'i/testimonial_1_img.jpg' %}" class="w-60 h-60 radius_full" alt="" />
					<div class="ml-15 color-heading f-14 semibold text-uppercase sp-20">Jessey Kirk, designmodo</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<div class="hr bg-gray h-2"></div>
			</div>
		</div>
	</div>
</section>