<nav class="navigation_1 bg-light pt-30 pb-30 text-center">
	<div class="container px-xl-0">
		<div class="row justify-content-center align-items-center f-16">
			<div class="col-lg-2 text-lg-left">
				<a href="{% url 'home' %}" class="logo link color-main">MusicSinc</a>
			</div>
			<div class="col-lg-8 justify-content-center">
				<a href="{% url 'apresentacao:read' %}" class="link color-main mx-15">Apresentações</a>
				<a href="{% url 'instrumento:read' %}" class="link color-main mx-15">Instrumentos</a>
				<a href="{% url 'musico:read' %}" class="link color-main mx-15">Músicos</a>
				<a href="{% url 'orquestra:read' %}" class="link color-main mx-15">Orquestras</a>
				<a href="{% url 'sinfonia:read' %}" class="link color-main mx-15">Sinfonia</a>
				{% if request.user.is_authenticated and request.user.is_superuser and request.user.is_staff %}
				<a href="{% url 'admin:index' %}" class="link color-main mx-15">Administração</a>
				{% endif %}
			</div>
			<div class="col-lg-2 mt-20 mt-lg-0 text-lg-right">
				<a href="{% url 'logout' %}" class="btn sm action-2 f-16">Deslogar</a>
			</div>
		</div>
	</div>
</nav>
