{% extends "base.html" %} 
{% block content %} 
{% include 'components/nav_tables.html' %}



<div class="col-12 d-flex flex-column align-items-center my-4">
    <div class="col-md-6">
        <h3 class="text-center mb-4">Apresentações | {% if object %}Editar{% else %}Adicionar{% endif %}</h3>
    <div class="mt-4">
        <form method="post" action="{% if object %}{% url 'apresentacao:update' object.pk %}{% else %}{% url 'apresentacao:create' %}{% endif %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nome.id_for_label }}">Nome</label>
                <input class="form-control" id="{{ form.nome.id_for_label }}" type="text"
                    placeholder="Nome" name="{{ form.nome.html_name }}" {% if form.nome.value %}
                    value="{{ form.nome.value }}" {% endif %}>
            </div>

            <div class="form-group">
                <label for="{{ form.orquestra.id_for_label }}">Orquestra</label>
                <select class="form-control" id="{{ form.orquestra.id_for_label }}" name="{{ form.orquestra.html_name }}">
                    {% for orquestra in form.orquestra.field.choices %}
                        <option value="{{ orquestra.0 }}" {% if orquestra.0 == form.orquestra.value %}selected{% endif %}>{{ orquestra.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="{{ form.sinfonia.id_for_label }}">Sinfonia</label>
                <select class="form-control" id="{{ form.sinfonia.id_for_label }}" name="{{ form.sinfonia.html_name }}">
                    {% for sinfonia in form.sinfonia.field.choices %}
                        <option value="{{ sinfonia.0 }}" {% if sinfonia.0 == form.sinfonia.value %}selected{% endif %}>{{ sinfonia.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="{{ form.dt_apresentacao.id_for_label }}">Data e Hora</label>
                <input class="form-control" id="{{ form.dt_apresentacao.id_for_label }}" type="datetime-local"
                    placeholder="Dt. Apresentação" name="{{ form.dt_apresentacao.html_name }}" {% if form.dt_apresentacao.value %}
                    value="{{ form.initial.dt_apresentacao.value|date:'Y-m-d\TH:i' }}" {% endif %}>
                    
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'apresentacao:read' %}" class="btn btn-danger ml-3 cancelar-btn">Cancelar</a>
                <button type="submit" class="btn btn-primary salvar-btn">Salvar</button>

                
            </div>
        </form>
    </div>
    </div>
</div>

<style>
    .salvar-btn.btn-primary {
        background-color: #1b80eb; 
        border-color: #1b80eb;
    }
    
    .salvar-btn.btn-primary:hover {
        background-color: #11559e;
        border-color: #11559e;
    }

    .cancelar-btn.btn-danger {
        background-color: #e23a4b;
        border-color: #e23a4b;
    }

    .cancelar-btn.btn-danger:hover {
        background-color: #a82532;
        border-color: #a82532;
    }
</style>

{% endblock %}
