{% load static %}
<section class="showcase_2 bg-light pt-105 pb-90 text-center">
	<div class="container px-xl-0">
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10">
				<h2 class="small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Excelência Musical em Destaque</h2>
				<div class="mt-15 mb-25 f-22 color-heading text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
					Descubra por que somos reconhecidos por nossa excelência musical e torne-se parte de nossa comunidade inspiradora.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
    <a href="#" class="mt-50 link color-main">
        <img srcset="{% static 'i/showcase_2_img_1@2x.jpg' %} 2x" src="{% static 'i/showcase_2_img_1.jpg' %}" class="radius10 img-fluid" alt="" />
        <div class="mt-20 mb-15 f-22 title">Premiados Professores</div>
        <div class="color-heading f-14 semibold text-uppercase sp-20">Nicole Milton</div>
    </a>
</div>
		</div>
	</div>
</section>