<section class="feature_2 bg-light pt-105 pb-45 text-center">
	<div class="container px-xl-0">
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10">
				<h2 class="small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Sua escola de música</h2>
				<div class="mt-35 mb-65 f-22 color-heading text-adaptive description" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
					Desperte sua paixão pela música e brilhe nas melhores orquestras. Seja protagonista sinfônico em nossa Escola de Música. Aprenda, aprimore-se e emocione multidões. Sua jornada rumo ao sucesso musical começa aqui!
				</div>
			</div>
			<div class="col-xl-10">
				<div class="row justify-content-center">
					<div class="mb-50 col-md-4 col-sm-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
                        <div class="mb-20 f-18 medium title">Palcos de Emoção e Encantamento</div>
                        <div class="color-heading text-adaptive">
                            Viva a magia dos palcos, onde suas notas musicais ganham vida e envolvem a plateia em um espetáculo de emoção e encantamento.
                        </div>
                        <a href="#" class="mt-30 btn sm w-40 border-transparent-main"><i class="fas fa-angle-right"></i></a>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>