{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "components/nav_menu.html" %}

<section class="feature_2 bg-light pt-105 pb-45 text-center">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <h2 class="small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
          Sua escola de música
        </h2>
        <div class="mt-35 mb-65 f-22 color-heading text-adaptive description" data-aos-duration="600"
          data-aos="fade-down" data-aos-delay="300">
          Desperte sua paixão pela música e brilhe nas melhores orquestras. Seja
          protagonista sinfônico em nossa Escola de Música. Aprenda, aprimore-se
          e emocione multidões. Sua jornada rumo ao sucesso musical começa aqui!
        </div>
      </div>
      <div class="col-xl-10">
        <div class="row justify-content-center">
          <div class="mb-50 col-md-4 col-sm-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
            <div class="mb-20 f-18 medium title">
              Palcos de Emoção e Encantamento
            </div>
            <div class="color-heading text-adaptive">
              Viva a magia dos palcos, onde suas notas musicais ganham vida e
              envolvem a plateia em um espetáculo de emoção e encantamento.
            </div>
            <a href="#" class="mt-30 btn sm w-40 border-transparent-main"><i class="fas fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase_2 bg-light pt-105 pb-90 text-center">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <h2 class="small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
          Excelência Musical em Destaque
        </h2>
        <div class="mt-15 mb-25 f-22 color-heading text-adaptive" data-aos-duration="600" data-aos="fade-down"
          data-aos-delay="300">
          Descubra por que somos reconhecidos por nossa excelência musical e
          torne-se parte de nossa comunidade inspiradora.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <a href="#" class="mt-50 link color-main">
          <img srcset="{% static 'i/showcase_2_img_1@2x.jpg' %} 2x" src="{% static 'i/showcase_2_img_1.jpg' %}"
            class="radius10 img-fluid" alt="" />
          <div class="mt-20 mb-15 f-22 title">Premiados Professores</div>
          <div class="color-heading f-14 semibold text-uppercase sp-20">
            Nicole Milton
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="testimonial_1 bg-light pt-80 pb-80">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-11" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <div class="hr bg-gray h-2"></div>
      </div>
    </div>
    <div class="row pt-30 pb-50 inner" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
      <div class="col-xl-2 col-lg-1"></div>
      <div class="col-md-1 col-sm-2">
        <i class="fas fa-quote-left f-36 color-gray"></i>
      </div>
      <div class="col-xl-7 col-lg-8 col-sm-10">
        <div class="pt-10 f-22 text-adaptive">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
        <div class="mt-20 d-flex align-items-center author_info">
          <img srcset="{% static 'i/testimonial_1_img@2x.jpg' %} 2x" src="{% static 'i/testimonial_1_img.jpg' %}"
            class="w-60 h-60 radius_full" alt="" />
          <div class="ml-15 color-heading f-14 semibold text-uppercase sp-20">
            Domitilda, Musico
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-11" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <div class="hr bg-gray h-2"></div>
      </div>
    </div>
  </div>
</section>

<section class="form_1 pt-120 pb-120">
  <div class="container px-xl-0">
    <form method="post" class="bg-light mx-auto mw-430 radius10 pt-40 px-50 pb-30">
      {% csrf_token %}
      <h2 class="mb-40 small text-center" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        Entraremos em contato
      </h2>
      <div class="mb-20 input_holder" data-aos-duration="600" data-aos="fade-down" data-aos-delay="150">
        <input type="email" name="email" placeholder="Seu email"
          class="input border-gray focus-action-1 color-heading placeholder-heading w-full" />
      </div>
      <div class="mb-20 input_holder" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
        <input type="text" placeholder="Seu nome"
          class="input border-gray focus-action-1 color-heading placeholder-heading w-full" />
      </div>
      <div data-aos-duration="600" data-aos="fade-down" data-aos-delay="450">
        <input type="checkbox" name="rules" class="d-none border-gray focus-action-1" id="form_1_checkbox" checked />
        <label for="form_1_checkbox" class="mt-25 color-heading w-full">
          Eu concordo com os termos de serviço
        </label>
      </div>
      <div data-aos-duration="600" data-aos="fade-down" data-aos-delay="600"> 
        <a href="#" class="mt-25 btn action-1 w-full">Salvar</a>
      </div>
      <div class="mt-50 hr bg-gray h-1" data-aos-duration="600" data-aos="fade-down" data-aos-delay="750"></div>
      <div class="mt-25 f-18 medium color-heading text-center" data-aos-duration="600" data-aos="fade-down"
        data-aos-delay="900">
        Possui uma conta? <a href="{% url 'login' %}" class="link action-1">Acesse</a>
      </div>
    </form>
  </div>
</section>

{% endblock %}