{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "components/nav_menu.html" %}

<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4">Sobre Nós</h2>
                <p>A Escola de Música é um centro de aprendizado musical dedicado a proporcionar educação de alta
                    qualidade
                    e treinamento para músicos de todos os níveis e idades. Oferecemos uma ampla gama de cursos e
                    programas,
                    desde aulas individuais até workshops em grupo, abrangendo diversos estilos musicais.</p>
                <p>Nossos instrutores são profissionais experientes e apaixonados pela música, comprometidos em ajudar
                    os
                    alunos a desenvolver suas habilidades musicais, explorar sua criatividade e alcançar seus objetivos
                    musicais.</p>
                <p>Acreditamos que a música é uma forma de expressão poderosa e uma fonte de inspiração. Nossa abordagem
                    educacional é baseada no desenvolvimento integral dos alunos, incentivando não apenas a técnica
                    musical, mas também a expressão artística e o crescimento pessoal.</p>
                <p>Nossos cursos são projetados para atender às necessidades individuais de cada aluno, adaptando-se ao
                    seu ritmo de aprendizado e aos seus interesses musicais. Oferecemos aulas de instrumentos, teoria
                    musical, composição, improvisação e muito mais.</p>
                <p>Além das aulas regulares, também promovemos eventos musicais, concertos e workshops com artistas
                    renomados, proporcionando aos alunos a oportunidade de se apresentarem e compartilharem sua paixão
                    pela música com a comunidade.</p>
                <p>Na Escola de Música, valorizamos a conexão entre os alunos e criamos um ambiente acolhedor e
                    colaborativo. Encorajamos a colaboração entre os músicos, a formação de bandas e grupos musicais, e
                    oferecemos espaços para ensaios e gravações.</p>
                <p>Seja você um iniciante absoluto ou um músico experiente em busca de aprimoramento, estamos aqui para
                    ajudá-lo em sua jornada musical. Venha fazer parte da nossa comunidade e descubra o incrível mundo
                    da música!</p>

            </div>
        </div>
    </div>
</section>

{% endblock %}