{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "components/nav_menu.html" %}

<div class="container">
    <h1 class="text-center">Políticas e Termos de Responsabilidade</h1>
    <div class="mt-4">
        <h2>Política de Privacidade</h2>
        <p>A privacidade dos nossos visitantes é extremamente importante para nós. Esta Política de Privacidade descreve quais informações pessoais são coletadas e como são utilizadas.</p>
        <p>As informações pessoais fornecidas pelos visitantes, como nome, e-mail e telefone, são utilizadas apenas para o propósito específico de fornecer informações sobre nossos serviços, responder a dúvidas e processar inscrições em eventos.</p>
        <p>Não compartilhamos informações pessoais com terceiros, a menos que expressamente autorizado pelo visitante ou exigido por lei.</p>
    </div>

    <div class="mt-4">
        <h2>Termos de Responsabilidade</h2>
        <p>A Escola de Música não se responsabiliza por danos ou lesões causados durante a participação em eventos, aulas ou ensaios. Todos os participantes assumem total responsabilidade por sua própria segurança e bem-estar.</p>
        <p>Os alunos devem seguir as orientações e instruções dos instrutores durante as aulas, workshops e ensaios. A Escola de Música não se responsabiliza por quaisquer danos causados devido ao não cumprimento das instruções ou ao uso inadequado de equipamentos musicais.</p>
        <p>Os participantes também são responsáveis por quaisquer danos causados às instalações da Escola de Música durante sua presença. Recomendamos que todos os participantes ajam de forma responsável, respeitando o espaço e os equipamentos disponibilizados.</p>
    </div>
</div>

{% endblock %}