{% extends "base.html" %} 
{% block content %} 
{% include 'components/nav_tables.html' %}

<div class="col-12 d-flex flex-column align-items-center my-4">
    <h3 class="text-center mb-4">Sinfonias | Adicionar</h3>
    <div class="mt-4">
        <form method="post" action="{% url 'sinfonia:create' %}" class="w-100">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nome.id_for_label }}">Nome</label>
                {{ form.nome }}
            </div>

            <div class="form-group">
                <label for="{{ form.compositor.id_for_label }}">Compositor</label>
                {{ form.compositor }}
            </div>

            <div class="d-flex justify-content-center mt-5">
                <a href="{% url 'sinfonia:read' %}" ><Button type="submit" class="btn btn-primary salvar-btn">Salvar</Button></a>

                <a href="{% url 'sinfonia:read' %}" class="btn btn-danger ml-3 cancelar-btn">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<style>
    .salvar-btn.btn-primary {
        background-color: #1b80eb; 
        border-color: #1b80eb;
    }
    
    .salvar-btn.btn-primary:hover {
        background-color: #11559e;
        border-color: #11559e;
    }

    .cancelar-btn.btn-danger {
        background-color: #e23a4b;
        border-color: #e23a4b;
    }

    .cancelar-btn.btn-danger:hover {
        background-color: #a82532;
        border-color: #a82532;
    }
</style>

{% endblock %}
