{% extends "base.html" %} 
{% block content %} 
{% include 'components/nav_tables.html' %}
<style>
  .edit-btn {
    color: #1b80eb;
  }

  .edit-btn:hover {
    color: #11559e;
  }

  .delete-btn {
    color: #e23a4b;
  }

  .delete-btn:hover {
    color: #a82532;
  }
</style>
<div class="container table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Compositor</th>
        <th scope="col">Dt. Criação</th>
      </tr>
    </thead>
    <tbody>
      {% for sinf in sinfonias %}
      <tr>
        <td>{{ sinf.nome }}</td>
        <td>{{ sinf.compositor }}</td>
        <td>{{ sinf.dt_criacao }}</td>
        <td>
          <button class="btn btn-link edit-btn" title="Editar">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-link delete-btn" title="Excluir">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td>
          <h4>Nada aqui para ver</h4>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
